@model UpdateDosenViewModel

@{
}


<h1>Edit Dosen</h1>
<form method="post" action="View" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Nip</label>
        <input type="text" class="form-control" asp-for="Nip">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Nama Dosen</label>
        <input type="text" class="form-control" asp-for="Nama">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Dosen">Delete</button>
</form>
